@use "../../../../Styles/mixins" as *;
@use "../../../../Styles/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.latest-benefits-section {
  @include widthAndHeight(100%, 523px);
  padding-left: 150px;
  padding-right: 150px;

  .header {
    @include widthAndHeight(100%, 15%);
    @include flexContainer(0);
    justify-content: space-between;
    border-bottom: 5px solid $mainBlueColor;
    margin-bottom: 40px;

    h3 {
      font-size: 36px;
      text-align: center;
      padding: 14px 32px;
      background: $mainBlueColor;
      color: $mainWhiteColor;
      font-family: "Roboto Condensed";
    }

    .header-resp-desc {
      display: none;
    }

    p {
      font-size: 18px;
      font-family: "Poppins", sans-serif;

      span {
        color: $mainBlueColor;
      }
    }
  }

  .cards-wrapper {
    width: 100%;
    height: calc(85% - 40px);
    @include flexContainer(40px);

    .card {
      @include widthAndHeight(33.3%, 100%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .card__img-wrapper {
        @include widthAndHeight(100%, 245px);
        @include flexContainer(0);
        margin-bottom: 20px;
        img {
          @include widthAndHeight(100%, 100%);
          object-fit: cover;
        }
      }

      .card__desc {
        font-family: "Poppins", sans-serif;
        text-align: left;
        margin-left: 15px;

        p {
          font-size: 14px;
          color: rgba(112, 124, 137, 1);
          margin-bottom: 10px;
        }

        h4 {
          font-size: 20px;
          color: rgba(33, 40, 50, 1);
          margin-bottom: 20px;
        }
        button {
          background: $mainBlueColor;
          padding: 10px 16px;
          cursor: pointer;
          color: $mainWhiteColor;
          border: none;
        }
      }
    }
  }
}

@media all and (max-width: $smallMedia) {
  .latest-benefits-section {
    @include widthAndHeight(100%, auto);
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    .header {
      @include widthAndHeight(100%, 15%);
      justify-content: center;
      align-items: end;
      margin-bottom: 5px;

      h3 {
        font-size: 26px;
        padding: 0px 18px;
      }

      .header-desc {
        display: none;
      }
    }

    .header-resp-desc {
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      margin-bottom: 10px;

      span {
        color: $mainBlueColor;
      }
    }

    .cards-wrapper {
      width: 100%;
      // height: calc(85% - 40px);
      @include flexContainer(10px);
      flex-direction: column;

      .card {
        @include widthAndHeight(100%, auto);

        .card__desc {
          text-align: center;

          p {
            font-size: 12px;
          }

          h4 {
            font-size: 16px;
          }

          button {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
